# Node.js
node_modules/

# Python
__pycache__/
*.pyc

# Environment files
.env

# Firebase Admin Secret Key (絶対にGitに入れない)
serviceAccountKey.json

# macOS
.DS_Store

# VSCode settings
.vscode/

# Logs
*.log

# Docker
docker-compose.override.yml

# Dist / build
dist/
build/

# personal memo (exclude)
local-memo.md
