# Node.js
node_modules/

# Python
__pycache__/
*.pyc

# Environment files
.env

# macOS
.DS_Store

# VSCode settings
.vscode/

# Logs
*.log

# Docker
docker-compose.override.yml

# Dist / build
dist/
build/
